
h5{
    text-align: center;
}
h6{
    text-align: center;
}
ul{
    text-align: left;
}

i{
    color:#00BAFE;
}
#fontes{
     font-family: 'Merriweather Sans', sans-serif;
}
#nome{
    font-size: 1.5cm;
    text-align: center;
    color: black;
    
}
#dadospessoais{
    color:black;
    text-align-last: center;
}
#centro{
    text-align-last: center;
}
#navbar{
    font-weight: bold; 
    
}
#image{
   height: 5cm;
   width: 5cm;
}


#logoinicblog{
    padding: 0px 100px 0px 100px;
}
#logonome{
    padding: 0px 400px 0px 300px;
    display: flex;
}
#logonomehome{
    padding: 0px 0px 0px 650px;
    
}
.col{
    text-align: center;
}
.card{
    font-family: 'Merriweather Sans', sans-serif;
}
.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }
body{
    background-color: rgba(255, 255, 255, 0.048);
}
.navbar, .navbar *{
    -webkit-transition : all .25s ease-in-out;
    transition: all .25s ease-in-out;

}
.navbar{
    padding: 50px;
}

#cor{
    color: black;
}

#centralizar {
    width:100px;
    height:100px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-50px;
    }