
h5{
    text-align: center;
}
h6{
    text-align: center;
}
ul{
    text-align: left;
}

i{
    color:#00BAFE;
}
#fontes{
     font-family: 'Merriweather Sans', sans-serif;
}
#nome{
    font-size: 1.5cm;
    text-align: center;
    color: black;
    
}
#dadospessoais{
    color:black;
    text-align-last: center;
}
#centro{
    text-align-last: center;
}
#navbar{
    font-weight: bold; 
    
}
#image{
   height: 5cm;
   width: 5cm;
}


#logoinicblog{
    padding: 0px 100px 0px 100px;
}
#logonome{
    padding: 0px 400px 0px 300px;
    display: flex;
}
.col{
    text-align: center;
}
.card{

    background-color: #F0FBFF;
    font-family: 'Merriweather Sans', sans-serif;
}

