body{
   
    font-family: 'Open Sans', sans-serif;
    
}
h5{
    text-align: center;
}
h6{
    text-align: center;
}
ul{
    text-align: left;
}
#nome{
    font-size: 1.5cm;
    text-align: center;
    color: black;
    
}
#dadospessoais{
    color:black;
    text-align-last: center;
}
#centro{
    text-align-last: center;
}
#navbar{
    font-weight: bold; 
    
}
#image{
   height: 5cm;
   width: 5cm;
}
.col{
    text-align: center;
}
.card{

    background-color: #F0FBFF;
}

.empresa{

    width: 30px;
    height: 30px;
}
